@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);
/* line 3, ../scss/compost.scss */
#site-name {
  position: absolute;
  top: -100%;
  left: -100%;
  float: left;
}

/* line 10, ../scss/compost.scss */
#content {
  font-family: "Open Sans";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../scss/compost.scss */
#content .title, #content .block-title {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #576240;
  font-weight: bold;
  font-size: 2.4em;
  letter-spacing: -1px !important;
  line-height: 98%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0px !important;
}
/* line 28, ../scss/compost.scss */
#content .quote {
  margin: 40px;
  padding: 40px;
  background-color: #eff5e2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
/* line 38, ../scss/compost.scss */
#content .quote h3 {
  padding-bottom: 0px;
}
/* line 42, ../scss/compost.scss */
#content .full-img {
  width: 70%;
  margin: 20px 15%;
}
/* line 46, ../scss/compost.scss */
#content .half-img {
  width: 50%;
  margin: 20px 25%;
}
/* line 50, ../scss/compost.scss */
#content img {
  width: 100%;
}

/* line 56, ../scss/compost.scss */
.section-blog .content .field-item img {
  width: 100%;
  border: solid 40px white;
}
/* line 61, ../scss/compost.scss */
.section-blog .content .views-row {
  clear: both;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 8px solid #f2c53a;
}

/* line 71, ../scss/compost.scss */
.page-blog .field-name-title-field, .page-blog #content, .node-type-blog-post .field-name-title-field, .node-type-blog-post #content {
  margin-bottom: 0px;
}
/* line 73, ../scss/compost.scss */
.page-blog .field-name-title-field h1, .page-blog #content h1, .node-type-blog-post .field-name-title-field h1, .node-type-blog-post #content h1 {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #576240;
  font-weight: bold;
  font-size: 2.1vw;
  letter-spacing: normal !important;
  line-height: 98%;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
/* line 83, ../scss/compost.scss */
.page-blog .field-name-title-field h1 a, .page-blog #content h1 a, .node-type-blog-post .field-name-title-field h1 a, .node-type-blog-post #content h1 a {
  color: #576240;
}
/* line 85, ../scss/compost.scss */
.page-blog .field-name-title-field h1 a:hover, .page-blog #content h1 a:hover, .node-type-blog-post .field-name-title-field h1 a:hover, .node-type-blog-post #content h1 a:hover {
  text-decoration: none;
}

/* line 93, ../scss/compost.scss */
.views-row:after .clear-after:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 101, ../scss/compost.scss */
.CSSTableGenerator {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #000000;
}

/* line 108, ../scss/compost.scss */
.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 117, ../scss/compost.scss */
.CSSTableGenerator tr:nth-child(odd) {
  background-color: #e5e5e5;
}

/* line 121, ../scss/compost.scss */
.CSSTableGenerator tr:nth-child(even) {
  background-color: #ffffff;
}

/* line 125, ../scss/compost.scss */
.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #000000;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

/* line 138, ../scss/compost.scss */
.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

/* line 142, ../scss/compost.scss */
.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

/* line 146, ../scss/compost.scss */
.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}

/* line 150, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);
  background-color: #3f7f00;
  border: 0px solid #000000;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 167, ../scss/compost.scss */
.CSSTableGenerator tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);
  background-color: #3f7f00;
}

/* line 177, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

/* line 181, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

/*****************************
/* product pages display groups
/***********/
/* line 190, ../scss/compost.scss */
.section-shop .content, .section-shop #content {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* line 193, ../scss/compost.scss */
.section-shop .content #content-header .title, .section-shop #content #content-header .title {
  display: none;
}
/* line 197, ../scss/compost.scss */
.section-shop .content h2.field-name-title-field, .section-shop #content h2.field-name-title-field {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
/* line 204, ../scss/compost.scss */
.section-shop .group-main-image {
  text-align: right;
}

/* line 210, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation {
  width: 50%;
  left: 40%;
}
/* line 215, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  background-color: #c6e3c4;
}
/* line 217, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
  background-color: #0a6a10;
}
/* line 221, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  color: #0a6a10;
  text-align: left;
}

/* line 229, ../scss/compost.scss */
.section-cart #content, .section-checkout #content {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
}
/* line 234, ../scss/compost.scss */
.section-cart #content .view-commerce-cart-summary .views-field-line-item-title, .section-checkout #content .view-commerce-cart-summary .views-field-line-item-title {
  font-weight: bold;
}
/* line 238, ../scss/compost.scss */
.section-cart #content input[type="button"], .section-cart #content input[type="reset"], .section-cart #content input[type="submit"], .section-checkout #content input[type="button"], .section-checkout #content input[type="reset"], .section-checkout #content input[type="submit"] {
  cursor: pointer;
  padding: 5px 10px 5px 5px;
  margin: 5px 10px 5px 0px;
  text-transform: uppercase;
}
/* line 245, ../scss/compost.scss */
.section-cart #content .commerce-line-item-actions input[type="button"], .section-cart #content .commerce-line-item-actions input[type="reset"], .section-cart #content .commerce-line-item-actions input[type="submit"], .section-checkout #content .commerce-line-item-actions input[type="button"], .section-checkout #content .commerce-line-item-actions input[type="reset"], .section-checkout #content .commerce-line-item-actions input[type="submit"] {
  margin: 5px 0px 5px 10px;
}
/* line 249, ../scss/compost.scss */
.section-cart #content .views-field-line-item-title, .section-checkout #content .views-field-line-item-title {
  font-weight: bold;
}

/* line 256, ../scss/compost.scss */
.field-name-field-promo-image img {
  width: 100%;
  height: auto;
}

/*
* Styles
*/
/* line 265, ../scss/compost.scss */
.nomp {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

/* line 269, ../scss/compost.scss */
.margin-top {
  margin-top: 31px;
}

/* line 272, ../scss/compost.scss */
.margin-bottom {
  margin-bottom: 31px;
}

/* line 275, ../scss/compost.scss */
.padding-bottom {
  padding-bottom: 31px;
}

/* line 278, ../scss/compost.scss */
.padding-top {
  padding-top: 31px;
}

/* line 281, ../scss/compost.scss */
.margin-left {
  margin-left: 31px !important;
}

/* line 284, ../scss/compost.scss */
.padding {
  padding: 31px;
}

/* line 287, ../scss/compost.scss */
.double-margin {
  margin: 62px 0;
}

/* line 291, ../scss/compost.scss */
.open-sans {
  font-family: "Open Sans" !important;
}

/* line 294, ../scss/compost.scss */
.olive {
  color: #0a2b1d !important;
}

/* line 297, ../scss/compost.scss */
.green {
  color: #86b622;
}

/* line 300, ../scss/compost.scss */
.light-green {
  color: #aec380 !important;
}

/* line 303, ../scss/compost.scss */
.black {
  color: #000000;
}

/* line 306, ../scss/compost.scss */
.gray {
  color: #494949;
}

/* line 309, ../scss/compost.scss */
.white {
  color: #ffffff !important;
}

/* line 312, ../scss/compost.scss */
.relative {
  position: relative;
}

/* line 316, ../scss/compost.scss */
h1.style, h1.title {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #576240;
  font-weight: bold;
  font-size: 2.4em;
  letter-spacing: -1 px !important;
  line-height: 98%;
}
/* line 324, ../scss/compost.scss */
h1.style span, h1.title span {
  color: #aec380;
}

/* line 329, ../scss/compost.scss */
h2.style {
  font-family: "Open Sans";
  text-transform: normal;
  color: #483e0e;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: normal !important;
}

/* line 337, ../scss/compost.scss */
.break {
  height: 8px;
  background-color: #f2c53a;
  clear: both;
}

/* line 342, ../scss/compost.scss */
.bold-block {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Open Sans" !important;
  color: #494949;
}

/* line 349, ../scss/compost.scss */
.callout {
  background-color: #86b622;
  color: #ffffff;
  padding: 62px 31px;
  margin: 31px;
  margin-bottom: 62px;
  clear: both;
  font-size: 30px;
  text-align: center;
  line-height: 140%;
}

/* line 364, ../scss/compost.scss */
.front #content-header .title {
  display: none;
}
/* line 369, ../scss/compost.scss */
.front .front-3 {
  margin: 31px 0;
}
/* line 372, ../scss/compost.scss */
.front .front-3 .grid-item img {
  border: solid 1px gray;
  display: block;
}
/* line 378, ../scss/compost.scss */
.front .call-to-action {
  position: absolute;
  bottom: 31px;
  right: 31px;
  background-color: #0a2b1d;
  color: #fff;
  font-family: "Open Sans";
  border-radius: 5px;
  border-bottom: solid 2px #f2c53a;
}
/* line 387, ../scss/compost.scss */
.front .call-to-action a {
  color: #fff;
  font-family: "Open Sans";
  padding: 10px 31px;
}

/* line 395, ../scss/compost.scss */
.get-yours {
  padding: 31px 0;
}
/* line 398, ../scss/compost.scss */
.get-yours a {
  font-weight: normal;
  text-decoration: underline;
}

/*
*Side Promos
*/
/* line 409, ../scss/compost.scss */
.side-promo {
  padding-top: 5px;
}
/* line 411, ../scss/compost.scss */
.side-promo .promo {
  padding-bottom: 31px;
}
/* line 414, ../scss/compost.scss */
.side-promo .promo-box {
  position: relative;
}
/* line 417, ../scss/compost.scss */
.side-promo .promo-title {
  position: absolute;
  bottom: 0px;
  padding: 7px 7px 15px 7px !important;
  width: 100%;
  font-weight: bold !important;
  color: #000000;
  line-height: 19px;
}
/* line 426, ../scss/compost.scss */
.side-promo .promo-title-bg {
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  padding: 7px 7px 15px 7px !important;
  width: 100%;
  font-weight: bold !important;
  color: #ffffff;
  line-height: 19px;
}
/* line 437, ../scss/compost.scss */
.side-promo img {
  width: 100% !important;
}

/* line 444, ../scss/compost.scss */
.recipe h3 {
  font-weight: bold;
  color: #aec380;
  margin-bottom: 0px !important;
}
/* line 450, ../scss/compost.scss */
.recipe .recipeIngredents dl {
  margin: 20px 10px 40px 45px;
}
/* line 452, ../scss/compost.scss */
.recipe .recipeIngredents dl dt {
  float: left;
  margin-right: 5px;
  display: inline-block;
}
/* line 456, ../scss/compost.scss */
.recipe .recipeIngredents dl dt span {
  font-weight: bold;
}
/* line 460, ../scss/compost.scss */
.recipe .recipeIngredents dl dd {
  margin: 0;
  color: #7c7c7c;
}
/* line 469, ../scss/compost.scss */
.recipe .recipeSteps ul li {
  list-style: none;
  list-style-type: none;
  margin: 0 0 20px;
}
/* line 473, ../scss/compost.scss */
.recipe .recipeSteps ul li .recipeStepsHeading {
  display: inline-block;
  color: #aec380;
  vertical-align: top;
}
/* line 478, ../scss/compost.scss */
.recipe .recipeSteps ul li .recipeStepsBody {
  vertical-align: top;
  display: inline-block;
  width: 90%;
}

/* line 487, ../scss/compost.scss */
.green-break {
  border-top: solid 8px #f2c53a;
  background-color: #aec380;
  padding: 40px 0;
}

/* line 494, ../scss/compost.scss */
.light-blue-break {
  border-top: solid 8px #f2c53a;
  background-color: #E1F4FD;
  padding: 40px 0 0 0;
  position: relative;
}

/* line 501, ../scss/compost.scss */
.light-callout {
  padding: 31px 93px;
  font-size: 1.3em;
  font-weight: bold !important;
  color: #ffffff;
}

/* line 507, ../scss/compost.scss */
.bed-of-vegetables {
  color: #000000;
  margin: 62px 93px !important;
  font-weight: bold;
}

/* line 512, ../scss/compost.scss */
.img-down {
  position: relative;
  bottom: -50px;
}

/* line 516, ../scss/compost.scss */
.dirt-break {
  background-color: #594A42;
}

/* line 519, ../scss/compost.scss */
.learn-about-the-soil-food-web {
  color: #FFF;
  padding: 62px 93px !important;
  font-weight: bold;
}

/* line 524, ../scss/compost.scss */
.white-border {
  border: solid 20px white;
}
