@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);
/* line 3, ../scss/compost.scss */
#site-name {
  position: absolute;
  top: -100%;
  left: -100%;
  float: left;
}

/* line 10, ../scss/compost.scss */
#content {
  font-family: "Noto Serif", serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../scss/compost.scss */
#content .title, #content .block-title {
  font-family: "Noto Serif";
  color: #7d5508 !important;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 24, ../scss/compost.scss */
#content .field {
  margin-bottom: 8px;
}
/* line 27, ../scss/compost.scss */
#content .quote {
  margin: 40px;
  padding: 40px;
  background-color: #eff5e2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
/* line 37, ../scss/compost.scss */
#content .quote h3 {
  padding-bottom: 0px;
}
/* line 41, ../scss/compost.scss */
#content .full-img {
  width: 70%;
  margin: 20px 15%;
}
/* line 45, ../scss/compost.scss */
#content .half-img {
  width: 50%;
  margin: 20px 25%;
}

/* line 52, ../scss/compost.scss */
.section-blog .content .field-item img {
  float: left;
  width: 50%;
  margin: 40px 40px 40px 0;
}
/* line 58, ../scss/compost.scss */
.section-blog .content .views-row {
  clear: both;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid green;
}

/* line 67, ../scss/compost.scss */
.views-row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 75, ../scss/compost.scss */
.CSSTableGenerator {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #000000;
}

/* line 82, ../scss/compost.scss */
.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 91, ../scss/compost.scss */
.CSSTableGenerator tr:nth-child(odd) {
  background-color: #e5e5e5;
}

/* line 95, ../scss/compost.scss */
.CSSTableGenerator tr:nth-child(even) {
  background-color: #ffffff;
}

/* line 99, ../scss/compost.scss */
.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #000000;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

/* line 112, ../scss/compost.scss */
.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

/* line 116, ../scss/compost.scss */
.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

/* line 120, ../scss/compost.scss */
.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}

/* line 124, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);
  background-color: #3f7f00;
  border: 0px solid #000000;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 141, ../scss/compost.scss */
.CSSTableGenerator tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);
  background-color: #3f7f00;
}

/* line 151, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

/* line 155, ../scss/compost.scss */
.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

/*****************************
/* product pages display groups
/***********/
/* line 164, ../scss/compost.scss */
.section-shop .content, .section-shop #content {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* line 167, ../scss/compost.scss */
.section-shop .content #content-header .title, .section-shop #content #content-header .title {
  display: none;
}
/* line 171, ../scss/compost.scss */
.section-shop .content h2.field-name-title-field, .section-shop #content h2.field-name-title-field {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
/* line 178, ../scss/compost.scss */
.section-shop .group-main-image {
  text-align: right;
}

/* line 184, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation {
  width: 50%;
  left: 40%;
}
/* line 189, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  background-color: #c6e3c4;
}
/* line 191, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
  background-color: #0a6a10;
}
/* line 195, ../scss/compost.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  color: #0a6a10;
  text-align: left;
}

/* line 203, ../scss/compost.scss */
.section-cart #content, .section-checkout #content {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
}
/* line 208, ../scss/compost.scss */
.section-cart #content .view-commerce-cart-summary .views-field-line-item-title, .section-checkout #content .view-commerce-cart-summary .views-field-line-item-title {
  font-weight: bold;
}
/* line 212, ../scss/compost.scss */
.section-cart #content input[type="button"], .section-cart #content input[type="reset"], .section-cart #content input[type="submit"], .section-checkout #content input[type="button"], .section-checkout #content input[type="reset"], .section-checkout #content input[type="submit"] {
  cursor: pointer;
  padding: 5px 10px 5px 5px;
  margin: 5px 10px 5px 0px;
  text-transform: uppercase;
}
/* line 219, ../scss/compost.scss */
.section-cart #content .commerce-line-item-actions input[type="button"], .section-cart #content .commerce-line-item-actions input[type="reset"], .section-cart #content .commerce-line-item-actions input[type="submit"], .section-checkout #content .commerce-line-item-actions input[type="button"], .section-checkout #content .commerce-line-item-actions input[type="reset"], .section-checkout #content .commerce-line-item-actions input[type="submit"] {
  margin: 5px 0px 5px 10px;
}
/* line 223, ../scss/compost.scss */
.section-cart #content .views-field-line-item-title, .section-checkout #content .views-field-line-item-title {
  font-weight: bold;
}

/* line 230, ../scss/compost.scss */
.field-name-field-promo-image img {
  width: 100%;
  height: auto;
}

/*
* Styles
*/
/* line 239, ../scss/compost.scss */
.nomp {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

/* line 243, ../scss/compost.scss */
.margin-top {
  margin-top: 31px;
}

/* line 246, ../scss/compost.scss */
.margin-bottom {
  margin-bottom: 31px;
}

/* line 249, ../scss/compost.scss */
.padding-bottom {
  padding-bottom: 31px;
}

/* line 252, ../scss/compost.scss */
.padding-top {
  padding-top: 31px;
}

/* line 255, ../scss/compost.scss */
.padding {
  padding: 31px;
}

/* line 259, ../scss/compost.scss */
.open-sans {
  font-family: "Open Sans" !important;
}

/* line 262, ../scss/compost.scss */
.olive {
  color: #0a2b1d !important;
}

/* line 265, ../scss/compost.scss */
.green {
  color: #86b622;
}

/* line 268, ../scss/compost.scss */
.black {
  color: #000000;
}

/* line 271, ../scss/compost.scss */
.gray {
  color: #494949;
}

/* line 274, ../scss/compost.scss */
.relative {
  position: relative;
}

/* line 278, ../scss/compost.scss */
h1.style {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #576240;
  font-weight: bold;
  font-size: 2.1vw;
  letter-spacing: normal !important;
  line-height: 98%;
}

/* line 287, ../scss/compost.scss */
h2.style {
  font-family: "Open Sans";
  text-transform: normal;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 1.4vw;
  letter-spacing: normal !important;
}

/* line 295, ../scss/compost.scss */
.break {
  height: 12px;
  background-color: #f2c53a;
  clear: both;
}

/* line 300, ../scss/compost.scss */
.bold-block {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Open Sans" !important;
  color: #494949;
}

/* line 307, ../scss/compost.scss */
.callout {
  background-color: #86b622;
  color: #ffffff;
  padding: 62px 31px;
  margin: 31px;
  margin-bottom: 62px;
  clear: both;
  font-size: 30px;
  text-align: center;
  line-height: 140%;
}

/* line 322, ../scss/compost.scss */
.front #content-header .title {
  display: none;
}
/* line 327, ../scss/compost.scss */
.front .front-3 {
  margin: 31px 0;
}
/* line 330, ../scss/compost.scss */
.front .front-3 .grid-item img {
  border: solid 1px gray;
  display: block;
}
/* line 336, ../scss/compost.scss */
.front .call-to-action {
  position: absolute;
  bottom: 31px;
  right: 31px;
  background-color: #0a2b1d;
  color: #fff;
  font-family: "Open Sans";
  border-radius: 5px;
  border-bottom: solid 2px #f2c53a;
}
/* line 345, ../scss/compost.scss */
.front .call-to-action a {
  color: #fff;
  font-family: "Open Sans";
  padding: 10px 31px;
}

/* line 353, ../scss/compost.scss */
.get-yours {
  padding: 31px 0;
}
/* line 356, ../scss/compost.scss */
.get-yours a {
  font-weight: normal;
  text-decoration: underline;
}

/*
*Side Promos
*/
/* line 367, ../scss/compost.scss */
.side-promo {
  padding-top: 5px;
}
/* line 369, ../scss/compost.scss */
.side-promo .promo {
  padding-bottom: 31px;
}
/* line 372, ../scss/compost.scss */
.side-promo .promo-box {
  position: relative;
}
/* line 375, ../scss/compost.scss */
.side-promo .promo-title {
  position: absolute;
  bottom: 0px;
  padding: 7px 7px 15px 7px !important;
  width: 100%;
  font-weight: bold !important;
  color: #000000;
  line-height: 19px;
}
/* line 384, ../scss/compost.scss */
.side-promo .promo-title-bg {
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  padding: 7px 7px 15px 7px !important;
  width: 100%;
  font-weight: bold !important;
  color: #ffffff;
  line-height: 19px;
}
/* line 395, ../scss/compost.scss */
.side-promo img {
  width: 100% !important;
}
