@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);
/* line 3, ../scss/style.scss */
html {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
  line-height: 30px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 10, ../scss/style.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../scss/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 22, ../scss/style.scss */
body {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 34, ../scss/style.scss */
a:link, a:visited {
  color: #337ab4;
  text-decoration: none;
}

/* line 41, ../scss/style.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* line 47, ../scss/style.scss */
#logo {
  float: left;
}
/* line 49, ../scss/style.scss */
#logo img {
  display: block;
}

/* line 55, ../scss/style.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  margin: 130px 0 0 0;
}
/* line 60, ../scss/style.scss */
#site-name a {
  color: #576240;
}
/* line 62, ../scss/style.scss */
#site-name a:hover {
  text-decoration: none;
}

/* line 68, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  margin: 0 !important;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em !important;
}

/* line 76, ../scss/style.scss */
h1 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}

/* line 82, ../scss/style.scss */
h2 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 0.75em !important;
}

/* line 88, ../scss/style.scss */
h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

/* line 93, ../scss/style.scss */
h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
}

/* line 98, ../scss/style.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 104, ../scss/style.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 110, ../scss/style.scss */
#page .block {
  margin-bottom: 20px;
}

/* line 116, ../scss/style.scss */
p {
  margin: 0 0 1em 0;
  font-weight: 300;
}

/* line 121, ../scss/style.scss */
cite {
  font-size: .65em;
}

/* line 124, ../scss/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 0;
  font-weight: 300;
}

/* line 131, ../scss/style.scss */
table {
  width: 99.9%;
}

/* line 137, ../scss/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 0px;
}

/* line 142, ../scss/style.scss */
tr.odd {
  background-color: white;
}

/* line 147, ../scss/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 152, ../scss/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* line 161, ../scss/style.scss */
ul {
  list-style-type: disc;
}
/* line 163, ../scss/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 165, ../scss/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 167, ../scss/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 175, ../scss/style.scss */
#content-area .field ul, #content-area .field ol {
  margin: 20px 10px 20px 45px;
}

/* line 180, ../scss/style.scss */
ol {
  list-style-type: decimal;
}
/* line 182, ../scss/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 184, ../scss/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 191, ../scss/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 199, ../scss/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 203, ../scss/style.scss */
label {
  color: #333;
  font-size: .85em;
}
/* line 206, ../scss/style.scss */
label .form-required {
  color: #D55556;
}

/* line 211, ../scss/style.scss */
input {
  padding: 2px 0;
  text-indent: 3px;
  font-size: .85em !important;
}

/* line 217, ../scss/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 225, ../scss/style.scss */
.form-select {
  padding: 2px !important;
}
/* line 227, ../scss/style.scss */
.form-select option {
  padding: 2px;
}

/* line 232, ../scss/style.scss */
#edit-delete {
  color: #cc0000;
}

/* line 237, ../scss/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 245, ../scss/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 251, ../scss/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 257, ../scss/style.scss */
div.status {
  color: #000;
  background: #0a6a10;
  border-color: #666;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid #000000;
  text-indent: 20px;
}
/* line 266, ../scss/style.scss */
div.status a {
  color: #000;
  text-decoration: underline;
}

/* line 271, ../scss/style.scss */
.form-item, .form-actions {
  margin-top: 0px;
}
