/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */
 
 @import "susybase";


/* Containers for grid items and flow items. */
#header,
#navigation,
#page,
#footer {
	margin-left: auto;
  	margin-right: auto;
	@include container();
}
.page-center, .page-node-58 #content-header, .page-node-59 #content-header  {
  @include container();
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}
.page-center-special {
  @include container();
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  clear: none !important;
}

.page-center-special:after {
  clear: none !important;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.sidebar.first,
.sideavr.second,
#footer {
}

.no-sidebars {
	#content {
		@include span(full);
	}
}
#header, #navigation {
	.container {
	@include span(full);
	}
}

/**
 * Use 18 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
		
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
       @include span(13 last);
    }

    #sidebar-first {
      @include span(5 first);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
       @include span(isolate 11 at 1);
    }

    .sidebar.second {
      @include span(isolate 5.5 at 13);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
       @include span(isolate 10 at 5);
    }

    .sidebar.first {
      @include span(4 first);
    }

    .sidebar.second {
      @include span(4 last);
    }
  }
  
  /**
  *move elsewhere
  */ 
  
  .not-front {
	  #logo img {
      width: 60% !important;

	  }
  }

  /*
  *Social Media
  */

#block-block-3 {
  float: right;
  z-index: 100;
  p {
    padding: 13px 30px;
    a {
      color: #aec380;
      text-transform: uppercase;
      font-weight: normal !important;
      img {
        margin: 0px 15px;
        position: relative;
        top: 3px;
      }
    }
  }
}
#block-block-4 {
  position: absolute;
  float: right;
  width: 150px;
  right: 0;
  bottom: -15px;
  z-index: 10;
  a {
    display: block;
    float: right;
  }
}

  /************************************************************
* Galleries
************************************************************/

  $susy-nested-gallery: (
          gutter-position:before,
          gutters: .3,

  );

  @include with-layout($susy-nested-gallery) {
    .grid-of-2 {
      @include container();
      @include span(18 of 18);
      padding-bottom: 0;
      .grid-item {
        @include gallery(9 of 18);
        margin-bottom: gutter(20);
        box-sizing: border-box;
      }
      clear: both;
    }
    .inset-grid-of-2 {
      @include container();
      @include span(isolate 16 at 2);
      padding-bottom: 0;
      .grid-item {
        @include gallery(8 of 16);
        margin-bottom: gutter(20);
        box-sizing: border-box;
      }
      clear: both;
    }
    .grid-of-3 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(4 of 12);
        margin-bottom: gutter(20);
      }
    }
    .grid-of-4 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(3 of 12);
        margin-bottom: gutter(10);
      }
    }
    .grid-of-6 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(2 of 12);
        margin-bottom: gutter(10);
      }
    }
  }
  
}

.grid-item:after, .grid-of-2:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.grid-item img {
  width: 100%;
}

.left-one {
  float: left;
  width: 36%;
  clear: left;
  margin-left: 12%
}
.right-one {
  float: right;
  width: 36%;
  clear: right;
  margin-right: 12%;
}

/*****************************
/* product pages display groups
/***********/


.group-product-details {
  @include span(10 last);
}
.group-main-image {
  @include span(8 first);
}


