/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */
 
 @import "susybase";

 
/* Containers for grid items and flow items. */
#header,
#navigation,
#page,
#footer {
	margin-left: auto;
  	margin-right: auto;
	@include container();
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.sidebar.first,
.sideavr.second,
#footer {
}

.no-sidebars {
	#content {
		@include span(full);
	}
}
#header, #navigation {
	.container {
	@include span(full);
	}
}

/**
 * Use 18 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
		
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
       @include span(13 last);
    }

    #sidebar-first {
      @include span(5 first);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
       @include span(isolate 10 at 2);
    }

    .sidebar.second {
      @include span(isolate 5.5 at 13);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
       @include span(isolate 10 at 5);
    }

    .sidebar.first {
      @include span(4 first);
    }

    .sidebar.second {
      @include span(4 last);
    }
  }
  
  /**
  *move elsewhere
  */ 
  
  .not-front {
	  #logo img {
		  height:40px !important;
	  }
	  #site-name {
		  font-size:14px;
		  margin-top:10px;
		  text-indent:10px;
	  }
  }




  /************************************************************
* Galleries
************************************************************/

  $susy-nested-gallery: (
          gutter-position:before,
          gutters: .3,

  );

  @include with-layout($susy-nested-gallery) {
    .grid-of-2 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(6 of 12);
        margin-bottom: gutter(20);
        box-sizing: border-box;
      }
    }

    .grid-of-3 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(4 of 12);
        margin-bottom: gutter(20);
      }
    }
    .grid-of-4 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(3 of 12);
        margin-bottom: gutter(10);
      }
    }
    .grid-of-6 {
      @include container();
      @include span(12 of 12);
      padding-bottom: 0;
      .grid-item {
        @include gallery(2 of 12);
        margin-bottom: gutter(10);
      }
    }
  }
  
}

/*****************************
/* product pages display groups
/***********/


.group-product-details {
  @include span(10 last);
}
.group-main-image {
  @include span(8 first);
}


