@import "base";

#site-name {
  position: absolute;
  top:-100%;
  left: -100%;
  float: left;
}

#content {
  font-family: $noto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .title, .block-title {
    font-family: "Noto Serif";
    color: #7d5508 !important;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .field {
    margin-bottom: 8px;
  }
  .quote {
    margin: 40px;
    padding: 40px;
    background-color: #eff5e2;
    font-family: $opensans;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    h3 {
      padding-bottom: 0px;
    }
  }
  .full-img {
    width: 70%;
    margin: 20px 15%
  }
  .half-img {
    width: 50%;
    margin: 20px 25%;
  }
}

.section-blog .content {
  .field-item img {
    float: left;
    width: 50%;
    margin: 40px 40px 40px 0;
  }

  .views-row {
    clear: both;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid green;
  }

}

.views-row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.CSSTableGenerator {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #000000;
}

.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.CSSTableGenerator tr:nth-child(odd) {
  background-color: #e5e5e5;
}

.CSSTableGenerator tr:nth-child(even) {
  background-color: #ffffff;
}

.CSSTableGenerator td {
  vertical-align: middle;

  border: 1px solid #000000;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);

  background-color: #3f7f00;
  border: 0px solid #000000;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #3f7f00 5%, #3f7f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #3f7f00));
  background: -moz-linear-gradient(center top, #3f7f00 5%, #3f7f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#3f7f00");
  background: -o-linear-gradient(top, #3f7f00, 3 f7f00);

  background-color: #3f7f00;
}

.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

/*****************************
/* product pages display groups
/***********/

.section-shop {
  .content, #content {
    font-family: $opensans;
    font-weight: 300;
    #content-header .title {
      display: none;
    }

    h2.field-name-title-field {
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  .group-main-image {
    text-align: right;
  }

}

div.messages.commerce-add-to-cart-confirmation {
  width: 50%;
  left: 40%;

  .message-inner {
    .button-wrapper {
      background-color: #c6e3c4;
      .button.checkout {
        background-color: #0a6a10;
      }
    }
    .added-product-title {
      color: #0a6a10;
      text-align: left;
    }
  }
}

.section-cart, .section-checkout, {
  #content {
    font-family: $opensans !important;
    font-weight: 300;

    .view-commerce-cart-summary {
      .views-field-line-item-title {
        font-weight: bold;
      }
    }
    input[type="button"], input[type="reset"], input[type="submit"] {
      cursor: pointer;
      padding: 5px 10px 5px 5px;
      margin: 5px 10px 5px 0px;
      text-transform: uppercase;
    }
    .commerce-line-item-actions {
      input[type="button"], input[type="reset"], input[type="submit"] {
        margin: 5px 0px 5px 10px;
      }
    }
    .views-field-line-item-title {
      font-weight: bold;
    }
  }
}

.field-name-field-promo-image {
  img {
    width: 100%;
    height: auto;
  }
}

/*
* Styles
*/
.nomp {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.margin-top {
  margin-top: 31px;
}
.margin-bottom {
  margin-bottom: 31px;
}
.padding-bottom {
  padding-bottom: 31px;
}
.padding-top {
  padding-top: 31px;
}
.padding {
  padding: 31px;
}

.open-sans {
  font-family: "Open Sans" !important;
}
.olive {
  color: #0a2b1d !important;
}
.green {
  color: #86b622;
}
.black {
  color: #000000;
}
.gray {
  color: #494949;
}
.relative {
  position: relative;
}

h1.style {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #576240;
  font-weight: bold;
  font-size:2.1vw;
  letter-spacing: normal !important;
  line-height: 98%;
}
h2.style {
  font-family: "Open Sans";
  text-transform: normal;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 1.4vw;
  letter-spacing: normal !important;
}
.break {
  height: 8px;
  background-color: #f2c53a;
  clear: both;
}
.bold-block {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Open Sans" !important;
  color: #494949;
}

.callout {
  background-color: #86b622;
  color: #ffffff;
  padding: 62px 31px;
  margin: 31px;
  margin-bottom: 62px;
  clear: both;
  font-size: 30px;
  text-align: center;
  line-height: 140%;

}

.front {
  #content-header {
    .title {
      display: none;
    }

  }
  .front-3 {
    margin: 31px 0;
    .grid-item {
      img {
        border: solid 1px gray;
        display:block;
      }
    }
  }
  .call-to-action {
    position: absolute;
    bottom: 31px;
    right: 31px;
    background-color: #0a2b1d;
    color: #fff;
    font-family: "Open Sans";
    border-radius: 5px;
    border-bottom: solid 2px #f2c53a;
    a {
      color: #fff;
      font-family: "Open Sans";
      padding: 10px 31px;
    }
  }
}

.get-yours {
  padding: 31px 0;

  a {
    font-weight: normal;
    text-decoration: underline;
  }
}


/*
*Side Promos
*/

.side-promo {
  padding-top: 5px;
  .promo {
    padding-bottom: 31px;
  }
  .promo-box {
    position: relative;
  }
  .promo-title {
    position: absolute;
    bottom: 0px;
    padding: 7px 7px 15px 7px !important;
    width: 100%;
    font-weight: bold !important;
    color: #000000;
    line-height: 19px;
  }
  .promo-title-bg {
    background-color: #ffffff;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    padding: 7px 7px 15px 7px !important;
    width: 100%;
    font-weight: bold !important;
    color: #ffffff;
    line-height: 19px;
  }
 img {
   width: 100% !important;
 }
}