@import "base";

html {
  font-family: $opensans !important;
  font-size: 18px;
  line-height: $base-line-height;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// Font styles.
body {
  margin: 0;
  // Setting up font size, leading and font family
  //  http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
  // font: 15px /1.538em "Lucida Grande", Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Links
a {
  &:link, &:visited {
    color: #337ab4;
    text-decoration: none;
  }
}

a {
  &:hover, &:active {
    color: red;
    text-decoration: underline;
  }
}

#logo {
  float: left;
  img {
    display: block;
  }
}

// Titles.
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  margin: 130px 0 0 0;
  a {
    color: #576240;
    &:hover {
      text-decoration: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  margin: 0 !important;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em !important;
}

h1 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 0.75em !important;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

#page {
  .block {
    margin-bottom: 20px;
  }
}

// Paragraph styles.
p {
  margin: 0 0 1em 0;
  font-weight: 300;
}

cite {font-size: .65em}

// List styles.
ul, ol {
  margin-left: 0;
  padding-left: 0;
  font-weight: 300;
}

// Table styles.
table {
  width: 99.9%;
}

tr.even,
tr.odd {
  td {
    padding: 10px 0px;
  }
}

tr.odd {
  background-color: white;
}

// Code.
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

// List styles.
ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
      ul {
        list-style-type: circle;
      }
    }
  }
}

#content-area .field {
  ul, ol {
    margin: 20px 10px 20px 45px;
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: decimal;
    }
  }
}

// Abbreviation.
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

// UI improvments.

#system-themes-form img {
  width: 100px;
}

label {
  color: #333;
  font-size: .85em;
  .form-required {
    color: #D55556;
  }
}

input {
  padding: 2px 0;
  text-indent: 3px;
  font-size: .85em !important;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

.form-select {
  padding: 2px !important;
  option {
    padding: 2px;
  }
}

#edit-delete {
  color: #cc0000;
}

// Console, style from slate theme.
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #000;
  background: #0a6a10;
  border-color: #666;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid #000000;
  text-indent: 20px;
  a {
    color: #000;
    text-decoration: underline;
  }
}
.form-item, .form-actions {
  margin-top: 0px;
}